[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pylint = "*"
flake8 = "*"
pipenv = "*"
flake8-bugbear = "*"
bandit = "*"
isort = "*"
pre-commit = "*"
mypy = "*"

[packages]
connexion = {extras = ["swagger-ui"],version = "*"}
flask = "*"
python-dotenv = "*"
jsonschema = {extras = ["format"],version = "*"}
prance = {extras = ["osv"],version = "*"}
racecard = {editable = true,extras = ["rest"],path = "."}
marshmallow-jsonapi = "*"

[requires]
python_version = "3.8"
